.dashboard {
    width: 100vw;
    min-height: 100vh;
    background: #6e8980;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    color: white;
    text-align: center;
    height: 15%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.new-game-button {
    min-height: 25%;
    width: 50%;
    text-align: center;
    color: white;
    background: #2B427F;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: .5rem solid white;
}

.new-game-button > a {
    color: white;
    text-decoration: none;
}

.game-list {
    width: 100%;
}

.active-games {
    min-height: 50%;
    width: 50%;
    text-align: center;
    color: white;
    background: #2B427F;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: .5rem solid white;
    border-top: 0;
    
}

.active-games-holder {
    height: 80%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.game-holder {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.game-holder > h1 {
    font-size: 1.2rem;
    color: white;
}

.game-holder > h2 {
    font-size: .8rem;
    color: white;
}

h4 {
    cursor: pointer;
    font-size: .7rem;
}

a {
    text-decoration: none !important;
}